body{
    margin: 0px;
    padding: 0px;
    font-family:  Helvetica, sans-serif;
    font-size: 1.2rem;
} 
.navbar{
   position: fixed;
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    width: 100%;
}
.navbar-list li{
    display: inline;
    padding: 20px;
    margin-left: 10px;
}
.navbar-list li a, .brand{
    color: white;
    text-decoration: none;
}
section{
    height: 100vh;
}
#Home{
    background-image: url('./img/pc.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}